body {
    line-height: 0;
}

.grid {
    position: relative;
    display: inline-block;
    line-height: 0;
    overflow: hidden;
}

.grid-col {
    display: inline-block; 
    margin: 0;
}

.grid-cell {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0;
}

.grid-cell.X {
    background: #f5f5f5;
}

.grid-cell.B {
    background: #222;
}

.grid-cell.G {
    background: #ff0;
}

.grid-cell.dark {
    background: #555555;
}

.player {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #f0f;
}

.light {
    width: 320px;
    height: 320px;
    position: absolute;
    margin: -160px 0 0 -160px;
    background: url('img/light.png') 0 0 no-repeat;
}